.nav ul{
    display: flex;
  flex-direction: row;
    list-style: none;
    margin: 0%;
}
.nav{
    border: solid black;
    background-color: black;
    height: 80px;
}
.nav ul li{
   margin: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
}
.ul1 {
    padding-right: 0%;
}
.ul2{
    padding-right: 0%;
    padding-left: 0%;
}
.ul3{
    padding-left: 0%;
    padding-right: 0%;
}
.nav{
   display: flex;
   flex-direction: row;
}
.nav img{
    height: 160px;
    margin-left: 4%;
    margin-top: -4%;
}
body{
    margin: 0%;
}
.ul1, .ul2 li{
    color: white;
}
.ul3 li
{
    color: rgb(175, 172, 172);
    
}

.test{
     padding-top: 11px;
     padding-left: 380px;
     padding-right: 0%;
     display: flex;
     flex-direction: row;
}
.ul3{
margin-right: 0%;
}
.plans h1{   
    margin-top: 0%;
    font-size: 40px;
    font-weight: 700;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    color:white;
    text-align: center;
}
#para{
    font-size: 25px;
    font-weight: 100;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
}
.bluecont{
    padding-top: 80px;
    margin: 0%;
    height: 300px;
    background-color: rgb(22, 104, 200);
}
.buttons{
    margin-left: 510px;
    padding-top: 25px;
}
#b1{margin-left: auto;
    border-style: hidden;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 40px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 14px;
    font-size: 22;
    font-weight: 700;
}
#b2{
    border-style: ridge;
    background-color:  rgb(22, 104, 200);
    border-color: white;
    color: white;
    border-radius: 40px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 14px;
    font-size: 22;
    font-weight: 700;
}
.tc{
    
    margin-left: 44%;
    margin-top: 20px;
}
.tc a{
    font-size: 5px;
    color: white;
    font-size: smaller;
    font-family: Helvetica,Arial,sans-serif;
}
.blkcont{
    padding-top: 80px;
    margin: 0%;
    height: 300px;
    background-color: black;
}
.blkcont h1{   
    margin-top: 0%;
    font-size: 40px;
    font-weight: 700;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    color:white;
    text-align: center;
}
.p1{
    font-size: 25px;
    font-weight: 100;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
}
.button button{ 
    margin-top: 40px;
    margin-left: 575px;
    border-style: hidden;
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 40px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 18px;
    font-size: 22;
    font-weight: 700;
    border:solid white;
}
.tc2 a, p{
    display: inline;
    font-size: 5px;
    color: white;
    font-size: smaller;
    font-family: Helvetica,Arial,sans-serif;
}
.tc2{
    margin-left: 350px;
    margin-top: 35px;
}
     /* Third container begins here*/

.powerofpremium h1{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    color:black;
    text-align: center;
}
.bigset{
    margin-top: 70px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
}

.seta img, .setb img, .setc img, .setd img{
    object-fit: contain;
    height: 150px;
}
.seta, .setb, .setc, .setd{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.seta{
    margin-left: -50px;
    height: 330px;
    width: 340px;
}
.setb{
    height: 330px;
    width: 340px;
}
.setc{
    height: 330px;
    width: 340px;
}
.setd{
    height:330px;
    width: 340px;
}
.upt{
    color: black;
    padding-left: 10px;
    font-size: 20px;
}
#upta{
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 800;
}
#uptb{
    padding-left: 50px;
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 800;
}

#uptc{
    padding-left: 50px;
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 800;
}

#uptd{
    padding-left: 59px;
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 800;
}
.lpt{
    color: black;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight:500;
    margin-top: 3px;
}
#lpta{
    padding-left:35px;

}
#lptb{
    padding-left: 35px;
    padding-bottom: 0%;
}
#lptc{
    padding-left: 20px;
}
#lptd{
    padding-left: 35px;

}
#nptb, #nptc, #nptd{
        color: black;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 17px;
        font-weight:500;
        margin-top: 0%;
        padding-top: 0%;
}
#nptb{
    padding-left: 100px;
}
#nptc{
    padding-left: 57px;
}
#nptd{
    padding-left: 115px;
}

/*Styling for container d begins here*/


.containerd{
    background-color: black;
    height: 600px;
}
.heading h1{

    padding-top: 90px;
    padding-left: 340px;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 48px;
}
  
 

 .containerdsubset{
    margin-top: 70px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
 }

 /*Styling for albums begins here*/

 .a img, .b img, .c img, .d img{
    object-fit: contain;
    height: 150px;
}
.c{
    width: 300px;
}

.a, .b, .c, .d{
    
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}

.subheadinga{
    padding-left: 29px;
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-size: 20px;
    font-weight: 700;
}
.subheadingb{
    padding-left: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 700;
}

.subheadingc{
    padding-left: 05px;
    font-size: 20px;
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 700;
}

.subheadingd{
    padding-left: 23px;
    font-size: 20px;
    margin-top: 40px;
    font-family: Helvetica,Arial,sans-serif; ;
    font-weight: 700;}

    .lpt{
        color: black;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 17px;
        font-weight:500;
        margin-top: 3px;
    }
    #aupta{
        font-size: 10px;
        margin-top: 0;
        padding-left:35px;
    
    }
    #auptb{
       
        margin-top: 0;
        padding-left: 35px;
        padding-bottom: 0%;
    }
    #auptc{
        border: solid white;
        margin-top: 0;
        padding-left: 20px;
    }
    #auptd{
        margin-top: 0;
        padding-left: 35px;
    }

    #ta, #tb, #tc, #td{
        font-size: 15px;
        text-align-last: center;
    }
